@import 'variables';
@import 'mixins';
@import 'bootstrap_custom';

@font-face {
  font-family: 'Bree';
  src: url('../fonts/BreePeru_Regular.otf');
  src: url("../fonts/BreePeru_Regular.otf") format("opentype") url('../fonts/BreePeru_Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BreePeru_Regular.woff2') format('woff2'), url('../fonts/BreePeru_Regular.woff') format('woff'), url('../fonts/BreePeru_Regular.ttf') format('truetype'), url('../fonts/BreePeru_Regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'BreeLight';
  src: url('../fonts/BreePeru_Light.otf');
  src: url("../fonts/BreePeru_Light.otf") format("opentype") url('../fonts/BreePeru_Light.eot?#iefix') format('embedded-opentype'), url('../fonts/BreePeru_Light.woff2') format('woff2'), url('../fonts/BreePeru_Light.woff') format('woff'), url('../fonts/BreePeru_Light.ttf') format('truetype'), url('../fonts/BreePeru_Light.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'BreeBold';
  src: url('../fonts/BreePeru_Bold.otf');
  src: url("../fonts/BreePeru_Bold.otf") format("opentype") url('../fonts/BreePeru_Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/BreePeru_Bold.woff2') format('woff2'), url('../fonts/BreePeru_Bold.woff') format('woff'), url('../fonts/BreePeru_Bold.ttf') format('truetype'), url('../fonts/BreePeru_Bold.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'BreeLightBold';
  src: url('../fonts/BreePeru_LightOblique.otf');
  src: url("../fonts/BreePeru_LightOblique.otf") format("opentype") url('../fonts/BreePeru_LightOblique.eot?#iefix') format('embedded-opentype'), url('../fonts/BreePeru_LightOblique.woff2') format('woff2'), url('../fonts/BreePeru_LightOblique.woff') format('woff'), url('../fonts/BreePeru_LightOblique.ttf') format('truetype'), url('../fonts/BreePeru_LightOblique.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'BreeItalic';
  src: url('../fonts/BreePeru_RegularOblique.otf');
  src: url("../fonts/BreePeru_RegularOblique.otf") format("opentype") url('../fonts/BreePeru_RegularOblique.eot?#iefix') format('embedded-opentype'), url('../fonts/BreePeru_RegularOblique.woff2') format('woff2'), url('../fonts/BreePeru_RegularOblique.woff') format('woff'), url('../fonts/BreePeru_RegularOblique.ttf') format('truetype'), url('../fonts/BreePeru_RegularOblique.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'BreeBoldItalic';
  src: url('../fonts/BreePeru_BoldOblique.otf');
  src: url("../fonts/BreePeru_BoldOblique.otf") format("opentype") url('../fonts/BreePeru_BoldOblique.eot?#iefix') format('embedded-opentype'), url('../fonts/BreePeru_BoldOblique.woff2') format('woff2'), url('../fonts/BreePeru_BoldOblique.woff') format('woff'), url('../fonts/BreePeru_BoldOblique.ttf') format('truetype'), url('../fonts/BreePeru_BoldOblique.svg#glyphicons_halflingsregular') format('svg');
}

body {
  background-color: $bg-color;
  font-family: $font-family;
}

html.home,
body.home {
    height: 100%;
}

body {
  &.bg-economia {
    background: url(../img/bg-economia.jpg) no-repeat center center fixed;
  }
  &.bg-lineamiento {
    background: url(../img/bg-lineamiento.jpg) no-repeat center center fixed;
  }
  &.bg-nosotros {
    background: url(../img/bg-nosotros.jpg) no-repeat center center fixed;
  }
  &.bg-politica {
    background: url(../img/bg-politica.jpg) no-repeat center center fixed;
  }
  &.bg-modelo {
    background: url(../img/bg-modelo.jpg) no-repeat center center fixed;
  }
  &.bg {
    @include background-cover();
  }
  &.bg-mapa {
    @include bg-gradient(#fffcf0, #e8f3fc, #cdddea);
  }
}

.container-home {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

#slider-home {
  height: 100%;
  @media (min-width: 1010px) {
    height: calc(100% - 200px);
  }
  .carousel,
  .item,
  .active {
      height: 100%;
  }
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
  @include background-cover();
  background-position: center bottom;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

.content-page {
  position: relative;
}

#logo {
  position: absolute;
  // top: 40px;
  bottom: 40px;
  z-index: 9999;
  // width: 100%;
  margin: 0 auto;
  // margin-left: 0;
  // display: none;
  left: 40px;
  a {
    display: block;
    // padding: 0 20px;
    max-width: 330px;
    margin: 0 auto;
    img {
      width: 80%;
    }
  }
  @media (min-width: 790px) {
    // margin-left: 80px;
    // width: auto;
    // display: block;
    a {
      margin: 0;
      img {
        width: 100%;
      }
    }
  }
}

#slider-home {
  .slide-message {
    // @include transform(translateY(-50%));
    position: absolute;
    top: 35%;
    // padding-right: 100px;
    width: 65%;
    left: 17.5%;
    color: #fff;
    font-family: "BreeBoldItalic";
    color: #fff;
    h2 {
      font-size: 30px;
      &.black {
        color: black;
      }
      text-shadow: 0px 0px 5px #ababab;
    }
    h3 {
      font-size: 40px;
      text-align: right;
      text-shadow: 0px 0px 5px #ababab;
      &.black {
        color: black;
      }
      span {
        font-size: 50px;
        &.red {
          color: red;
        }
      }
    }
    &.inverted {
      top: 20%;
      h2 {
        text-align: right;
      }
      h3 {
        text-align: left;
        padding-top: 100px;
      }
    }
    @media (min-width: 790px) {
      left: 15%;
      width: 70%;
      h2 {
        font-size: 40px;
      }
      h3 {
        font-size: 55px;
        span {
          font-size: 70px;
        }
      }
      &.inverted {
        top: 10%;
      }
    }
  }
}

#marca-peru {
  position: absolute;
  bottom: 25px;
  right: 60px;
  text-align: right;
  img {
    @include transform(scale(0.7));
    display: none;
    @media (min-width: 790px) {
      @include transform(scale(1));
      display: block;
    }
  }
}

#franja-roja {
  @include background-cover();
  background-position: right;
  height: 200px;
  position: absolute;
  bottom: -30px;
  right: 0;
  left: 0;
}

.box {
  height: 160px;
  margin: 2.5px -12.5px;
  &:hover {
    @include transition(0.5s);
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &.box-nosotros {
    background-color: $nosotros;
    &:hover {
      background-color: $nosotros-dark;
    }
  }
  &.box-economia {
    background-color: $economia;
    &:hover {
      background-color: $economia-dark;
    }
  }
  &.box-politica {
    background-color: $politica;
    &:hover {
      background-color: $politica-dark;
    }
  }
  &.box-lineamiento {
    background-color: $lineamiento;
    &:hover {
      background-color: $lineamiento-dark;
    }
  }
  &.box-modelo {
    background-color: $modelo;
    &:hover {
      background-color: $modelo-dark;
    }
  }
  .box-content {
    padding: 32px 5px 0;
    text-align: center;
    width: 100%;
    .box-title {
      position: relative;
      height: 64px;
      .box-align {
        @include transform(translateY(-50%));
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0;
      }
      h2 {
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
    figure {
      img {
        // margin-bottom: 18px;
        max-width: 100%;
      }
    }
  }
}

section {
  &#home {
    height: auto;
    background-color: $bg-home;
    padding: 17.5px 0;
    @media (min-width: 1010px) {
      height: 200px;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  }
}

#footer {
  .content-footer {
    @media (min-width: 790px) {
      padding: 30px 0 0;
    }
  }
  .logo-footer {
    padding-left: 50px;
    img {
      max-width: 80%;
    }
  }
  .box-footer {
    margin: 30px 0;
  }
  .title-footer {
    @include border-radius(3px);
    color: white;
    display: inline-block;
    background-color: $nosotros;
    font-size: 18px;
    padding: 0px 14px;
  }
  .wrap-footer {
    padding-top: 14px;
    .wrap-content-footer, a {
      color: #a9a9ab;
      font-size: 14px;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  ul {
    &.social-list {
      display: table;
      width: 100%;
      li {
        float: left;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        a {
          display: block;
          height: 26px;
          font-size: 26px;
          line-height: 26px;
          background-repeat: no-repeat;
          background-position: top center;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

#language {
  position: absolute;
  top: 0;
  right: 5%;
  z-index: 1;
  .languages {
    ul {
      background-color: #ed1d24;
      display: table;
      padding: 0 25px;
      li {
        float: left;
        padding: 6px 5px;
        a {
          color: #fff;
          &:hover {
            opacity: 0.8;
          }
        }
        span {
          color: #eb9194;
        }
        a, span {
          font-size: 12px;
          display: block;
        }
      }
    }
  }
  @media (min-width: 768px) {
    right: 15%;
    .languages {
      ul {
        li {
          a, span {
            font-size: 15px;
          }
        }
      }
    }
  }
}

#header {
  background-color: #ebeced;
  @include box-shadow(0 -2px 14px #000);
}

.navbar-main {
  min-height: 142px;
  background-color: transparent;
  .navbar {
    border: medium none;
    padding: 50px 0 30px;
    margin-bottom: 0;
    .navbar-header {
      a {
        position: relative;
        padding: 0;
        margin: 0;
        img {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 200px;
          @media (min-width: 768px) {
            left: -20px;
            width: 160px;
          }
          @media (min-width: 992px) {
            width: 200px;
            left: 0;
          }
          @media (min-width: 1210px) {
            width: auto;
            bottom: auto;
          }
        }
      }
      .navbar-brand {
        img {
          bottom: 0;
          position: absolute;
        }
      }
    }
    .navbar-nav {
      margin-right: 0;
      li {
        // width: 150px;
        padding: 0;
        @media (min-width: 768px) {
          padding: 0 10px;
        }
        @media (min-width: 992px) {
          padding: 0 15px;
        }
        @media (min-width: 1210px) {
          padding: 0 20px;
        }
        a {
          color: $inicio;
          background-color: transparent;
          border-bottom: 4px solid transparent;
          font-family: Arial;
          font-size: 13px;
          padding: 20px 0;
          position: relative;
          width: 100%;
          @media (min-width: 768px) {
            // width: 88px;
            font-size: 10px;
          }
          @media (min-width: 992px) {
            // width: 95px;
            font-size: 12px;
          }
          @media (min-width: 1210px) {
            // width: 120px;
          }
          span {
            // @include transform(translateY(-50%));
            display: block;
            // position: absolute;
            text-align: center;
            // top: 50%;
            // width: 100%;
          }
          &.double {
            padding: 10px 0;
          }
          &.inicio {
            &.active, &:hover, &:focus {
              border-color: $inicio;
            }
          }
          &.nosotros {
            &.active, &:hover, &:focus {
              color: $nosotros;
              border-color: $nosotros;
            }
          }
          &.economia {
            &.active, &:hover, &:focus {
              color: $economia;
              border-color: $economia;
            }
          }
          &.politica {
            &.active, &:hover, &:focus {
              color: $politica;
              border-color: $politica;
            }
          }
          &.lineamiento {
            &.active, &:hover, &:focus {
              color: $lineamiento;
              border-color: $lineamiento;
            }
          }
          &.modelo {
            &.active, &:hover, &:focus {
              color: $modelo;
              border-color: $modelo;
            }
          }
        }
      }
    }
    &.navbar-default {
      background-image: none;
      background-color: transparent;
      @include box-shadow(none);
    }
  }
}

a {
  &.orange {
    color: $economia;
    &:hover {
      text-decoration: underline;
    }
  }
  &:focus {
    outline: medium none;
  }
}

#page {
  padding: 30px 0 60px;
}

#sidebar, #wrap-page {
  margin: 10px 0;
}

#sidebar {
  // width: 300px;
  // position: static !important;
  @media (min-width: 768px) {
    width: 345px;
  }
  @media (min-width: 992px) {
    width: 293px;
  }
  @media (min-width: 1200px) {
    width: 262.5px;
  }
}

#sidebar {
  @media (max-width: 768px) {
    position: static !important;
  }
}

ul {
  &.bullet {
    > li {
      padding-left: 30px;
      text-indent: -30px;
      &:before {
        margin-right: 25px;
        content: "\2022";
      }
    }
  }
}

.modal-content {
  font-family: Arial, sans-serif;
  figure {
    margin: 35px 0 60px;
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
    figcaption {
      margin: 20px 0;
      font-size: 13px;
      color: #505050;
    }
  }
  .title-img {
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-bottom: 30px;
    font-family: 'BreeBold';
    .sub-title {
      font-size: 18px;
      font-family: 'Bree';
      font-weight: normal;
    }
  }
  .footer-img {
    margin: 20px 0;
  }
}

#wrap-page {
  .content-seccion, .panel-body {
    a {
      font-weight: bold;
    }
    p, ul {
      color: #9a9a9a;
      font-size: 15px;
    }
    p {
      font-weight: bold;
      &.light {
        font-weight: normal;
      }
    }
    ul, ol {
      margin: 20px 0;
      // font-size: 13px;
      li {
        padding-left: 30px;
        text-indent: -30px;
        margin-bottom: 20px;
        &:before {
          margin-right: 25px;
        }
      }
      &.no-m-t {
        margin-top: 0;
      }
    }
    ol {
      padding-left: 15px;
      li {
        list-style-type: decimal;
        text-indent: 0;
        span {
          color: #9a9a9a;
        }
      }
    }
    ul {
      > li {
        &:before {
          content: "\2022";
        }
        ul, ol {
          padding-left: 20px;
          li {
            list-style-type: circle;
            padding-left: 16px;
            text-indent: -26px;
            &:before {
              content: "";
            }
          }
        }
      }
    }
    figure {
      margin: 0 0 20px;
      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
      figcaption {
        margin: 20px 0;
        font-size: 13px;
        color: #505050;
      }
      p {
        margin-top: 20px;
        font-weight: normal;
        padding: 20px;
      }
    }
    .title-img {
      text-align: center;
      font-size: 20px;
      color: #555;
      margin-bottom: 30px;
      font-family: 'BreeBold';
      .sub-title {
        font-size: 18px;
        font-family: 'Bree';
        font-weight: normal;
      }
    }
    .footer-img {
      margin: 20px 0;
    }
  }
  .panel-body {
    > figure {
      margin: 20px 0 40px;
    }
  }
  .tab-pane {
    p, ul {
      color: #9a9a9a;
      font-size: 15px;
    }
  }
  .introduction {
    p {
      font-family: Arial, sans-serif;
      color: #fff;
      font-size: 15px;
    }
  }
  .sub-introduction {
    margin-top: 30px;
    .panel-body {
      padding: 15px;
      figure {
        margin: 0;
      }
    }
  }
  .tab-introduccion {
    background-color: #fff;
    margin-top: 20px;
    &.tab-lineamiento {
      background-repeat: no-repeat;
      background-position: right top;
      @media (min-width: 1200px) {
        background-size: 300px;
        padding-right: 300px;
        background-image: url('../img/pages/ppk1.jpg');
      }
    }
    .nav-tabs {
      background-color: #f2f2f2;
      border: medium none;
      margin: 0;
      padding: 0;
      > li {
        background-color: #fff;
        padding-left: 0;
      }
      > li.active > a, > li.active > a:hover, > li.active > a:focus {
        background-color: #8bbc3a;
        color: #fff;
      }
      > li > a {
        color: #838383;
        background-color: #e2e2e2;
        font-size: 16px;
        border: medium none;
        margin-right: 1px;
        @include border-radius(0);
      }
    }
    p {
      color: #58595b;
    }
    .tab-content > .tab-pane {
      padding: 28px 44px;
    }
  }
  .panel-default > .panel-heading {
    a {
      color: #fff;
    }
  }
}

.box-sidebar {
  .top-sidebar {
    padding: 25px 15px;
    h3 {
      padding: 0 10px;
      color: #fff;
      font-family: "Bree";
      font-size: 25px;
      span {
        color: #ffffff;
      }
    }
  }
  .body-sidebar {
    padding: 18px 25px;
    background-color: #fff;
    ul {
      &.list-categories {
        li {
          background-color: #fff;
          display: block;
          width: 100%;
          a {
            color: #696969;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 16px;
            display: block;
            padding: 15px 33px 15px 18px;
            font-family: "Bree";
            &:hover, &:focus {
              text-decoration: none;
            }
            .fa {
              float: right;
              font-size: 16px;
              line-height: 16px;
              display: none;
              margin-right: -15px;
            }
          }
          &:hover, &.active {
            background-color: #efefef;
          }
          &.active {
             a {
               .fa {
                 display: block;
               }
             }
           }
        }
      }
    }
  }
  .foot-sidebar {
    margin-top: 10px;
    a {
      background-color: #fff;
      display: block;
      padding: 20px;
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
      &:hover, &:focus {
        text-decoration: none;
        outline: medium none;
      }
      &.doc {
        display: none;
        &.show {
          display: block;
        }
        .fa {
          color: $economia;
          float: right;
        }
      }
    }
    span {
      display: block;
      color: #696969;
      font-size: 16px;
      line-height: 1.1;
    }
  }
}

.introduction {
  padding-right: 30px;
  font-size: 15px;
  color: #fff;
  .bg-introduccion {
    background-image: none;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
    padding: 35px 20px 25px 50px;
    @media (min-width: 992px) {
      background-image: url('../img/border-introduction.png');
      padding: 35px 95px 25px 50px;
    }
  }
  figure {
    &.intro-img {
      margin-bottom: 30px;
      img {

      }
    }
  }
  h2 {
    font-size: 38px;
    color: #fff;
    // color: #fff2df;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'BreeBold';
  }
  h3 {
    color: #fff2df;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Bree';
  }
  ul {
    margin: 0 0 10px;
    li {
      list-style: initial;
    }
  }
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: none;
}

.panel {
  border: 0 solid;
  .panel-body {
    font-family: $font-family-page;
    padding: 20px;
    font-size: 15px;
    @media (min-width: 768px) {
      padding: 20px 40px;
    }
  }
}

.table-overflow {
  width: 100%;
  overflow-x: auto;
}

.table {
  &.center-align {
    > tbody > tr > {
      td {
        text-align: center;
        vertical-align: middle;
        &:first-child, &:first-child + td + td {
          text-align: left;
        }
      }
    }
    > thead > tr > th {
      text-align: center;
      vertical-align: middle;
    }
  }
  &.table-zone {
    thead {
      tr {
        color: #fff;
      }
    }
  }
  &.white-space {
    tbody {
      tr {
        td {
          &:first-child {
            @media (min-width: 992px) {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  &.center-vertical {
    > thead > tr > th, > tbody > tr > td {
      text-align: center;
      vertical-align: middle;
    }
    > tbody {
      > tr {
        &.box-table {
          td {
            &:first-child {
              text-align: center;
              & + td {
                text-align: left;
              }
            }
          }
        }
        > td {
          &:first-child {
            text-align: left;
          }
        }
      }
    }
  }
}

.panel-default > .panel-heading {
  padding: 0;
  background-color: transparent;
  background-image: none;
  a {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    padding: 17px 40px 13px;
    text-decoration: none;
    font-family: 'Bree';
    .fa {
      float: right;
    }
    &.collapsed {
      .fa {
        &.fa-angle-up {
          &:before {
            content: "\f107";
          }
        }
      }
    }
  }
}

.content-seccion, .panel-body {
  background-color: #fff;
  padding: 35px 50px;
  &.bg-transparent {
    background-color: transparent;
  }
  h2 {
    font-size: 25px;
    margin: 25px 0 15px;
    text-transform: uppercase;
    &:first-child {
      margin-top: 0;
    }
  }
}

.panel-group .panel + .panel {
  margin-top: 12px;
}

.bg, .bg-mapa {
  #footer {
    background-color: rgba(0,0,0,0.6)
  }
}

.bg-economia {
  a {
    color: $economia;
  }
  .box-sidebar {
    .top-sidebar {
      background-color: $economia;
      h3 {
        color: #d3a538;
      }
    }
    .body-sidebar {
      ul {
        &.list-categories {
          li {
            &:hover, &.active {
              a {
                color: $economia;
              }
            }
          }
        }
      }
    }
  }
  .introduction {
    background-color: $economia;
  }
  .panel-default > .panel-heading {
    background-color: $economia;
  }
  #wrap-page {
    li {
      &:before {
        color: $economia;
      }
    }
    .tab-introduccion {
      .nav-tabs {
        > li.active > a, > li.active > a:hover, > li.active > a:focus {
          background-color: $economia;
        }
      }
    }
  }
}

.bg-lineamiento {
  a {
    color: $lineamiento;
  }
  .box-sidebar {
    .top-sidebar {
      background-color: $lineamiento;
      h3 {
        color: #d172b2;
      }
    }
    .body-sidebar {
      ul {
        &.list-categories {
          li {
            &:hover, &.active {
              a {
                color: $lineamiento;
              }
            }
          }
        }
      }
    }
  }
  .introduction {
    background-color: $lineamiento;
  }
  .panel-default > .panel-heading {
    background-color: $lineamiento;
  }
  #wrap-page {
    li {
      &:before {
        color: $lineamiento;
      }
    }
    .tab-introduccion {
      .nav-tabs {
        > li.active > a, > li.active > a:hover, > li.active > a:focus {
          background-color: $lineamiento;
        }
      }
    }
    a {
      color: $lineamiento;
    }
  }
}

.bg-nosotros {
  a {
    color: $nosotros;
  }
  .box-sidebar {
    .top-sidebar {
      background-color: $nosotros;
    }
    .body-sidebar {
      ul {
        &.list-categories {
          li {
            &:hover, &.active {
              a {
                color: $nosotros;
              }
            }
          }
        }
      }
    }
  }
  .introduction {
    background-color: $nosotros;
  }
  .panel-default > .panel-heading {
    background-color: $nosotros;
  }
  .content-seccion, .panel-body {
    h2 {
      color: $nosotros;
    }
    ol {
      li {
        color: $nosotros;
      }
    }
  }
  #wrap-page {
    li {
      &:before {
        color: $nosotros;
      }
    }
    .tab-introduccion {
      .nav-tabs {
        > li.active > a, > li.active > a:hover, > li.active > a:focus {
          background-color: $nosotros;
        }
      }
    }
  }
}

.bg-politica {
  a {
    color: $politica;
  }
  .box-sidebar {
    .top-sidebar {
      background-color: $politica;
    }
    .body-sidebar {
      ul {
        &.list-categories {
          li {
            &:hover, &.active {
              a {
                color: $politica;
              }
            }
          }
        }
      }
    }
  }
  .introduction {
    background-color: $politica;
  }
  .panel-default > .panel-heading {
    background-color: $politica;
  }
  .content-seccion, .panel-body {
    h2 {
      color: $politica;
    }
    ol {
      li {
        color: $politica;
      }
    }
  }
  #wrap-page {
    li {
      &:before {
        color: $politica;
      }
    }
    .tab-introduccion {
      .nav-tabs {
        > li.active > a, > li.active > a:hover, > li.active > a:focus {
          background-color: $politica;
        }
      }
    }
  }
}

.bg-modelo {
  a {
    color: $modelo;
  }
  .box-sidebar {
    .top-sidebar {
      background-color: $modelo;
    }
    .body-sidebar {
      ul {
        &.list-categories {
          li {
            &:hover, &.active {
              a {
                color: $modelo;
              }
            }
          }
        }
      }
    }
  }
  .introduction {
    background-color: $modelo;
  }
  .panel-default > .panel-heading {
    background-color: $modelo;
  }
  .content-seccion, .panel-body {
    h2 {
      color: $modelo;
    }
    ol {
      li {
        color: $modelo;
      }
    }
  }
  #wrap-page {
    li {
      &:before {
        color: $modelo;
      }
    }
    .tab-introduccion {
      .nav-tabs {
        > li.active > a, > li.active > a:hover, > li.active > a:focus {
          background-color: $modelo;
        }
      }
    }
  }
  .table {
    &.table-zone {
      thead {
        tr {
          background-color: $modelo;
        }
      }
    }
  }
}

.box-map {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  margin: 20px 0;
  background-color: transparent;
  &.orange-map {
    .header-map {
      background-color: $economia;
    }
    .line-top-map {
      &:before, &:after, .inner-line {
        background-color: $economia;
      }
    }
    .body-map {
      ul {
        li {
          a {
            &:hover, &:focus, &.active {
              color: $economia;
            }
          }
        }
      }
    }
    &.panel-default > .panel-heading {
      background-color: $economia;
    }
  }
  &.blue-map {
    .header-map {
      background-color: $politica;
    }
    .line-top-map {
      &:before, &:after, .inner-line {
        background-color: $politica;
      }
    }
    .body-map {
      ul {
        li {
          a {
            &:hover, &:focus, &.active {
              color: $politica;
            }
          }
        }
      }
    }
    &.panel-default > .panel-heading {
      background-color: $politica;
    }
  }
  &.green-map {
    .header-map {
      background-color: $modelo;
    }
    .line-top-map {
      &:before, &:after, .inner-line {
        background-color: $modelo;
      }
    }
    .body-map {
      ul {
        li {
          a {
            &:hover, &:focus, &.active {
              color: $modelo;
            }
          }
        }
      }
    }
    &.panel-default > .panel-heading {
      background-color: $modelo;
    }
  }
  &.panel-default > .panel-heading {
    a {
      padding: 7px 20px;
      font-size: 15px;
      color: #fff;
      font-weight: normal;
      font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    }
  }
  .line-top-map {
    height: 2px;
    background-color: #b6b7b4;
    margin-bottom: 12px;
    position: relative;
    .inner-line {
      position: absolute;
      left: 0;
      height: 2px;
      width: 30%;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
    &:before, &:after {
      content: "";
      position: absolute;
      top: -2px;
      height: 6px;
      width: 2px;
    }
  }
  .header-map {
    padding: 7px 20px;
    h2 {
      font-size: 15px;
      color: #fff;
    }
  }
  .body-map {
    background-color: rgba(255, 255, 255, 0.29);
    margin: 10px 0 0;
    padding-bottom: 20px;
    ul {
      li {
        a {
          color: #646464;
          display: block;
          padding: 2px 20px;
          &:hover, &:focus, &.active {
            background-color: #fff;
            text-decoration: none;
            outline: medium none;
          }
          &.orange {
            margin-top: 10px;
            background-color: $economia;
            color: #fff;
            &:hover, &:focus, &.active {
              opacity: 0.8;
              color: #fff;
            }
            &:focus {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.content-map {
  margin: 20px 0;
  h1 {
    color: #6f6f6f;
    font-size: 22px;
    margin-bottom: 50px;
    span {
      color: $economia;
    }
  }
  .bg-map {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('../img/bg-map.png');
    height: 740px;
    img {
      display: block;
      margin-left: 130px;
    }
  }
  .bg-map-mundi {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('../img/bg-map-mundi.png');
    height: 500px;
    position: relative;
    img {
      display: block;
      margin-left: -60px;
    }
    .tooltip {
      font-size: 11px;
      z-index: 1;
      &.right {
        .tooltip-arrow {
          border-right-color: #e4f5fd;
        }
      }
      &.top {
        .tooltip-arrow {
          border-top-color: #e4f5fd;
        }
      }
      &.left {
        .tooltip-arrow {
          border-left-color: #e4f5fd;
        }
      }
      &.bottom {
        .tooltip-arrow {
          border-bottom-color: #e4f5fd;
        }
      }
    }
    .tooltip-inner {
      background-color: #e4f5fd;
      color: #316eb6;
      text-transform: uppercase;
      font-weight: bold;
      padding: 2px 6px;
    }
  }
}

#footer-map {
  @include gradient(rgba(190,212,231,1), rgba(226,236,244,0.55));
  height: 170px;
  margin-top: -155px;
}

.modal-orange {
  .modal-header {
    background-color: #f1f1f1;
    .modal-title {
      color: $economia;
      text-transform: uppercase;
    }
  }
  .table {
    tr {
      td {
        &:first-child {
          background-color: $economia;
          border-color: #fff;
          color: #fff;
          text-align: left;
          &[colspan] {
            background-color: #db7a05;
            text-align: center;
          }
        }
        text-align: center;
        vertical-align: middle;
      }
      &:nth-child(2), &:nth-child(4) {
        td {
          background-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
        }
      }
    }
  }
  .modal-sm {
    @media (min-width: 768px) {
      width: 320px;
    }
  }
}

.modal-blue {
  .modal-header {
    background-color: #f1f1f1;
    .modal-title {
      color: $politica;
      text-transform: uppercase;
    }
  }
  .table {
    tr {
      text-align: center;
      &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5) {
        background-color: #3382d1;
        color: #fff;
      }
      td {
        vertical-align: middle;
        &[colspan] {
          background-color: #316eb6;
          color: #fff;
        }
      }
    }
  }
  .modal-sm {
    @media (min-width: 768px) {
      width: 400px;
    }
  }
}

.pin-map {
  height: 24px;
  width: 13px;
  background-repeat: no-repeat;
  background-image: url('../img/pinmap.png');
  position: absolute;
  cursor: pointer;
  display: none;
  &[data-show="false"] {
    cursor: default;
  }
  &.tailandia {
    top: 108px;
    left: 14px;
  }
  &.corea-del-sur {
    top: 74px;
    left: 107px;
  }
  &.japon {
    top: 74px;
    left: 141px;
  }
  &.singapur {
    top: 151px;
    left: 15px;
  }
  &.canada {
    left: 317px;
    top: 18px;
  }
  &.usa {
    top: 46px;
    left: 312px;
  }
  &.mexico {
    top: 76px;
    left: 283px;
  }
  &.el-salvador {
    left: 298px;
    top: 115px;
  }
  &.costa-rica {
    top: 130px;
    left: 320px;
  }
  &.cuba {
    top: 114px;
    left: 359px;
  }
  &.venezuela {
    left: 400px;
    top: 145px;
  }
  &.chile {
    top: 222px;
    left: 387px;
  }
  &.china {
    top: 69px;
    left: 779px;
  }
  &.islandia {
    top: -12px;
    left: 593px;
  }
  &.noruega {
    top: 18px;
    left: 592px;
  }
  &.liechtenstein {
    top: 39px;
    left: 633px;
  }
  &.suiza {
    top: 53px;
    left: 619px;
  }
  &.ecuador {
    top: 160px;
    left: 350px;
  }
  &.colombia {
    top: 159px;
    left: 380px;
  }
  &.bolivia {
    top: 206px;
    left: 401px;
  }
  &.paraguay {
    top: 219px;
    left: 435px;
  }
  &.brasil {
    top: 184px;
    left: 458px;
  }
  &.argentina {
    top: 260px;
    left: 414px;
  }
  &.uruguay {
    top: 236px;
    left: 458px;
  }
  &.guatemala {
    left: 317px;
    top: 132px;
  }
  &.honduras {
    left: 335px;
    top: 127px;
  }
  &.vietnam {
    left: 10px;
    top: 88px;
  }
  &.brunei {
    left: -3px;
    top: 115px;
  }
  &.malasia {
    left: 15px;
    top: 119px;
  }
  &.australia {
    left: 82px;
    top: 228px;
  }
  &.nueva-zelanda {
    left: 139px;
    top: 267px;
  }
  &.turquia {
    left: 679px;
    top: 71px;
  }
  &.corea {
    left: 113px;
    top: 59px;
  }
  &.hong-kong {
    left: 88px;
    top: 94px;
  }
  &.taipei {
    left: 88px;
    top: 123px;
  }
  &.panama {
    left: 344px;
    top: 149px;
  }
  &.mauricio {
    left: 822px;
    top: 219px;
  }
  &.pakistan {
    left: 799px;
    top: 94px;
  }
  &.israel {
    left: 659px;
    top: 88px;
  }
  &.union-europea {
    left: 562px;
    top: 14px;
    width: 142px;
    height: 108px;
    background-repeat: no-repeat;
    background-image: url('../img/bg-union-europea.png');
    background-size: 83%;
  }
}

.float-box {
  @include gradient(#fff, #f3f3f3);
  @include box-shadow(3px 3px 4px #999);
  position: absolute;
  top: 33px;
  width: 270px;
  right: -262px;
  padding: 20px 12px;
  z-index: 1;
  display: none;
  a {
    color: #747474;
    display: block;
    text-transform: uppercase;
    &:hover {
      color: $politica;
    }
  }
}

.btn-map {
  @include border-radius(5px);
  @include box-shadow(-1px 1px 3px #333);
  display: block;
  width: auto;
  height: 68px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: relative;
  padding: 0 15px 0 80px;
  font-size: 12px;
  @media (min-width: 768px) {

  }
  @media (min-width: 992px) {
    width: 346px;
    font-size: 15px;
  }
  @media (min-width: 1210px) {

  }
  &.perumap {
    background-image: url('../img/bgbtn-perumap.png');
  }
  &.worldmap {
    background-image: url('../img/bgbtn-worldmap.png');
  }
  span {
    @include transform(translateY(-50%));
    position: absolute;
    top: 50%;
  }
}

/* Custom pop up */

.mfp-figure:after {
  background-color: #fff;
}

.modal-header {
  border-bottom: medium none;
}

img.mfp-img {
  padding: 0;
  background-color: #fff;
  margin: 40px 0;
}

.mfp-img {
 cursor: pointer;
}
.mfp-force-scrollbars {
  &.mfp-wrap {
      overflow-y: auto !important;
      overflow-x: auto !important;
  }
  .mfp-img {
    max-width: none;
  }
  .mfp-close {
   position: fixed;
   top: 0;
   right: 44px;
  }

}

.float-image {
  img {
    max-width: 100%;
    // width: 300px;
    margin: 20px 0;
    @media (min-width: 768px) {
      // width: 200px;
      // margin: 0;
    }
    @media (min-width: 992px) {
      float: right;
      width: 200px;
      margin: 0px 0 20px 20px;
    }
    @media (min-width: 1210px) {
      width: 300px;
    }
  }
}
