@import 'variables';
@import 'mixins';
@import 'bootstrap_custom';

body {
  background-color: $bg-color;
  font-family: $font-family;
}

html.home,
body.home {
    height: 100%;
}

body {
  &.bg {
    @include background-cover();
  }
  &.bg-economia {
    background-image: url(../img/bg-economia.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.container-home {
  height: 100%;
}

.carousel,
.item.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

#slider-home {
  height: 100%;
  @media (min-width: 1010px) {
    height: calc(100% - 200px);
  }
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
  @include background-cover();
  background-position: center;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

@media (min-width: 790px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1010px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1210px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1360px) {
  .container {
    width: 1320px;
  }
}

.content-page {
  position: relative;
}

#logo {
  position: absolute;
  top: 40px;
  z-index: 9999;
  width: 100%;
  margin: 0 auto;
  margin-left: 0;
  a {
    display: block;
    padding: 0 20px;
    max-width: 330px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  @media (min-width: 790px) {
    margin-left: 130px;
    width: auto;
    a {
      margin: 0;
    }
  }
}

#slider-home {
  .slide-message {
    @include transform(translateY(-50%));
    position: absolute;
    top: 50%;
    padding-right: 100px;
    width: 80%;
    right: 0;
    p {
      color: #f8e9e9;
      font-size: 20px;
      margin: 0;
      text-shadow: 0px 0px 5px #ababab;
    }
    @media (min-width: 790px) {
      width: 50%;
      padding-right: 15%;
      p {
        font-size: 35px;
      }
    }
  }
}

#marca-peru {
  position: absolute;
  bottom: 0;
  right: 0;
  img {
    margin-bottom: 45px;
    margin-right: 80px;
  }
}

#franja-roja {
  @include background-cover();
  background-position: right;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.box {
  height: 160px;
  margin: 2.5px -12.5px;
  &:hover {
    @include transition(0.5s);
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &.box-nosotros {
    background-color: $nosotros;
    &:hover {
      background-color: $nosotros-dark;
    }
  }
  &.box-economia {
    background-color: $economia;
    &:hover {
      background-color: $economia-dark;
    }
  }
  &.box-politica {
    background-color: $politica;
    &:hover {
      background-color: $politica-dark;
    }
  }
  &.box-lineamiento {
    background-color: $lineamiento;
    &:hover {
      background-color: $lineamiento-dark;
    }
  }
  &.box-modelo {
    background-color: $modelo;
    &:hover {
      background-color: $modelo-dark;
    }
  }
  .box-content {
    @include transform(translateY(-50%));
    padding: 0 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    h2 {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
    img {
      margin-bottom: 18px;
      max-width: 100%;
    }
  }
}

section {
  &#home {
    height: auto;
    background-color: $bg-home;
    padding: 17.5px 0;
    @media (min-width: 1010px) {
      height: 200px;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  }
}

#footer {
  .content-footer {
    @media (min-width: 790px) {
      padding: 30px 0;
    }
  }
  .logo-footer {
    padding-left: 50px;
  }
  .box-footer {
    margin: 30px 0;
  }
  .title-footer {
    @include border-radius(3px);
    color: white;
    display: inline-block;
    background-color: $red-footer;
    font-size: 20px;
    padding: 0px 14px;
  }
  .wrap-footer {
    padding-top: 14px;
    .wrap-content-footer, a {
      color: #a9a9ab;
      font-size: 14px;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  ul {
    &.social-list {
      display: table;
      width: 100%;
      li {
        float: left;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
        a {
          display: block;
          // opacity: 0.3;
          width: 32px;
          height: 26px;
          background-repeat: no-repeat;
          background-position: top center;
          &.google {
            background-image: url('../img/google+.png');
          }
          &.linkedin {
            background-image: url('../img/linkedin.png');
          }
          &.youtube {
            background-image: url('../img/youtube.png');
          }
          &.facebook {
            background-image: url('../img/facebook.png');
          }
          &.twitter {
            background-image: url('../img/twitter.png');
          }
          &.flicker {
            background-image: url('../img/flicker.png');
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

#header {
  background-color: #ebeced;
  @include box-shadow(0 -2px 14px #000);
}

.navbar-main {
  min-height: 142px;
  background-color: transparent;
  .navbar {
    border: medium none;
    padding: 40px 0;
    margin-bottom: 0;
    .navbar-header {
      a {
        position: relative;
        padding: 0;
        margin: 0;
        img {
          position: absolute;
          left: 0;
          bottom: 0;
          @media (min-width: 768px) {
            left: -20px;
            width: 160px;
          }
          @media (min-width: 992px) {
            width: 200px;
            left: 0;
          }
          @media (min-width: 1210px) {
            width: auto;
            bottom: auto;
          }
        }
      }
    }
    .navbar-nav {
      margin-right: 0;
      li {
        // width: 150px;
        padding: 0;
        @media (min-width: 768px) {

        }
        @media (min-width: 992px) {
          padding: 0 7.5px;
        }
        @media (min-width: 1210px) {
          padding: 0 15px;
        }
        a {
          color: $inicio;
          background-color: transparent;
          border-bottom: 4px solid transparent;
          font-family: Arial;
          font-size: 13px;
          height: 80px;
          padding: 12px 0;
          position: relative;
          width: 100%;
          @media (min-width: 768px) {
            width: 88px;
            font-size: 10px;
          }
          @media (min-width: 992px) {
            width: 95px;
            font-size: 12px;
          }
          @media (min-width: 1210px) {
            width: 120px;
          }
          span {
            @include transform(translateY(-50%));
            display: block;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%;
          }
          &.inicio {
            &.active, &:hover, &:focus {
              border-color: $inicio;
            }
          }
          &.nosotros {
            &.active, &:hover, &:focus {
              color: $nosotros;
              border-color: $nosotros;
            }
          }
          &.economia {
            &.active, &:hover, &:focus {
              color: $economia;
              border-color: $economia;
            }
          }
          &.politica {
            &.active, &:hover, &:focus {
              color: $politica;
              border-color: $politica;
            }
          }
          &.lineamiento {
            &.active, &:hover, &:focus {
              color: $lineamiento;
              border-color: $lineamiento;
            }
          }
          &.modelo {
            &.active, &:hover, &:focus {
              color: $modelo;
              border-color: $modelo;
            }
          }
        }
      }
    }
    &.navbar-default {
      background-image: none;
      background-color: transparent;
      @include box-shadow(none);
    }
  }
}

#page {
  padding: 30px 0 60px;
}

.box-sidebar {
  .top-sidebar {
    padding: 25px 15px;
    h3 {
      padding: 0 10px;
      font-size: 25px;
      span {
        color: #ffffff;
      }
    }
  }
  .body-sidebar {
    padding: 18px 25px;
    background-color: #fff;
    ul {
      &.list-categories {

        li {
          background-color: #fff;
          display: block;
          width: 100%;
          a {
            color: #696969;
            text-transform: uppercase;
            font-size: 16px;
            display: block;
            padding: 12px 18px;
            &:hover, &:focus {
              text-decoration: none;
            }
          }
          &:hover, &.active {
            background-color: #efefef;
          }
        }
      }
    }
  }
  .foot-sidebar {
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;
    h4 {
      color: #696969;
      font-size: 16px;
    }
  }
}

.introduction {
  padding-right: 30px;
  .bg-introduccion {
    background-image: url('../img/border-introduction.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
    padding: 35px 95px 25px 50px;
  }
  figure {
    &.intro-img {
      margin-bottom: 30px;
      img {

      }
    }
  }
  h2 {
    font-size: 37px;
    color: #fff2df;
  }
  h3 {
    color: #fff2df;
    font-size: 25px;
    margin-bottom: 10px;
  }
  p {
    font-family: Arial;
    font-size: 15px;
    color: #fff;
  }
}

.panel {
  border: 0 solid;
  .panel-body {
    padding: 20px 40px;
    p, figcaption {
      color: #505050;
    }
    ul {
      padding-left: 14px;
      li {
        list-style: initial;
        padding-left: 30px;
      }
    }
    figure {
      margin-top: 30px;
      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
      figcaption {
        margin: 20px 0;
      }
      .title-img {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: #000;
        margin-bottom: 10px;
      }
    }
  }
}

.panel-default > .panel-heading {
  padding: 0;
  background-color: transparent;
  background-image: none;
  a {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    padding: 15px 40px;
    text-decoration: none;
    .fa {
      float: right;
    }
    &.collapsed {
      .fa {
        &.fa-angle-up {
          &:before {
            content: "\f107";
          }
        }
      }
    }
  }
}

.panel-group .panel + .panel {
  margin-top: 12px;
}

.bg-economia {
  .box-sidebar {
    .top-sidebar {
      background-color: #f5ad47;
      h3 {
        color: #fecf8b;
      }
    }
    .body-sidebar {
      ul {
        &.list-categories {
          li {
            &:hover, &.active {
              a {
                color: #f5ad47;
              }
            }
          }
        }
      }
    }
  }
  .introduction {
    background-color: #f4bb3c;
  }
  .panel-default > .panel-heading {
    background-color: #f5ad47;
  }
}

.bg {
  #footer {
    background-color: rgba(0,0,0,0.6)
  }
}

