$inicio: #4f4f4f;
$nosotros: #8bbc3a;
$economia: #fbbc34;
$politica: #006ba7;
$lineamiento: #812864;
$modelo: #c61f1f;
$nosotros-dark: #4e7906;
$economia-dark: #ee9509;
$politica-dark: #0b4769;
$lineamiento-dark: #680448;
$modelo-dark: #860101;
$font-family: calibri, Arial, sans-serif;
$bg-color: #edeef0;
$bg-home: #ebebeb;
$red-footer: #ed464d;
$font-family-page: Arial, sans-serif;
