$nosotros: #8bbc3a;
$economia: #fbbc34;
$politica: #006ba7;
$lineamiento: #812864;
$modelo: #c61f1f;
$font-family: calibri, Arial, sans-serif;
$bg-color: #edeef0;
$bg-home: #ebebeb;
$red-footer: #ed464d;
