$inicio: #4f4f4f;
$nosotros: #e72d1e;
$economia: #fdc82f;
$politica: #0079c1;
$lineamiento: #7d0063;
$modelo: #7ab800;
$nosotros-dark: #860101;
$economia-dark: #ee9509;
$politica-dark: #0b4769;
$lineamiento-dark: #680448;
$modelo-dark: #4e7906;
$font-family: calibri, Arial, sans-serif;
$bg-color: #edeef0;
$bg-home: #ebebeb;
$red-footer: #ed464d;
$font-family-page: Arial, sans-serif;
