a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1-5 {
  width: 20%;
  float: left; }

.col-xs-offset-0-5 {
  margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left; }

  .col-sm-offset-2-5 {
    margin-left: 40%; } }
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left; } }
.navbar {
  border-radius: 0; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent; }

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
  width: 60px;
  height: 60px;
  margin-top: -30px;
  font-size: 60px; }

@font-face {
  font-family: 'Bree';
  src: url("../fonts/BreePeru_Regular.otf");
  src: url("../fonts/BreePeru_Regular.otf") format("opentype") url("../fonts/BreePeru_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BreePeru_Regular.woff2") format("woff2"), url("../fonts/BreePeru_Regular.woff") format("woff"), url("../fonts/BreePeru_Regular.ttf") format("truetype"), url("../fonts/BreePeru_Regular.svg#glyphicons_halflingsregular") format("svg"); }
@font-face {
  font-family: 'BreeLight';
  src: url("../fonts/BreePeru_Light.otf");
  src: url("../fonts/BreePeru_Light.otf") format("opentype") url("../fonts/BreePeru_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BreePeru_Light.woff2") format("woff2"), url("../fonts/BreePeru_Light.woff") format("woff"), url("../fonts/BreePeru_Light.ttf") format("truetype"), url("../fonts/BreePeru_Light.svg#glyphicons_halflingsregular") format("svg"); }
@font-face {
  font-family: 'BreeBold';
  src: url("../fonts/BreePeru_Bold.otf");
  src: url("../fonts/BreePeru_Bold.otf") format("opentype") url("../fonts/BreePeru_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BreePeru_Bold.woff2") format("woff2"), url("../fonts/BreePeru_Bold.woff") format("woff"), url("../fonts/BreePeru_Bold.ttf") format("truetype"), url("../fonts/BreePeru_Bold.svg#glyphicons_halflingsregular") format("svg"); }
@font-face {
  font-family: 'BreeLightBold';
  src: url("../fonts/BreePeru_LightOblique.otf");
  src: url("../fonts/BreePeru_LightOblique.otf") format("opentype") url("../fonts/BreePeru_LightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/BreePeru_LightOblique.woff2") format("woff2"), url("../fonts/BreePeru_LightOblique.woff") format("woff"), url("../fonts/BreePeru_LightOblique.ttf") format("truetype"), url("../fonts/BreePeru_LightOblique.svg#glyphicons_halflingsregular") format("svg"); }
@font-face {
  font-family: 'BreeItalic';
  src: url("../fonts/BreePeru_RegularOblique.otf");
  src: url("../fonts/BreePeru_RegularOblique.otf") format("opentype") url("../fonts/BreePeru_RegularOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/BreePeru_RegularOblique.woff2") format("woff2"), url("../fonts/BreePeru_RegularOblique.woff") format("woff"), url("../fonts/BreePeru_RegularOblique.ttf") format("truetype"), url("../fonts/BreePeru_RegularOblique.svg#glyphicons_halflingsregular") format("svg"); }
@font-face {
  font-family: 'BreeBoldItalic';
  src: url("../fonts/BreePeru_BoldOblique.otf");
  src: url("../fonts/BreePeru_BoldOblique.otf") format("opentype") url("../fonts/BreePeru_BoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/BreePeru_BoldOblique.woff2") format("woff2"), url("../fonts/BreePeru_BoldOblique.woff") format("woff"), url("../fonts/BreePeru_BoldOblique.ttf") format("truetype"), url("../fonts/BreePeru_BoldOblique.svg#glyphicons_halflingsregular") format("svg"); }
body {
  background-color: #edeef0;
  font-family: calibri, Arial, sans-serif; }

html.home,
body.home {
  height: 100%; }

body.bg-economia {
  background: url(../img/bg-economia.jpg) no-repeat center center fixed; }
body.bg-lineamiento {
  background: url(../img/bg-lineamiento.jpg) no-repeat center center fixed; }
body.bg-nosotros {
  background: url(../img/bg-nosotros.jpg) no-repeat center center fixed; }
body.bg-politica {
  background: url(../img/bg-politica.jpg) no-repeat center center fixed; }
body.bg-modelo {
  background: url(../img/bg-modelo.jpg) no-repeat center center fixed; }
body.bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
body.bg-mapa {
  background: #fffcf0;
  background: -moz-linear-gradient(left, #fffcf0 0%, #e8f3fc 69%, #cdddea 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #fffcf0), color-stop(69%, #e8f3fc), color-stop(100%, #cdddea));
  background: -webkit-linear-gradient(left, #fffcf0 0%, #e8f3fc 69%, #cdddea 100%);
  background: -o-linear-gradient(left, #fffcf0 0%, #e8f3fc 69%, #cdddea 100%);
  background: -ms-linear-gradient(left, #fffcf0 0%, #e8f3fc 69%, #cdddea 100%);
  background: linear-gradient(to right, #fffcf0 0%, #e8f3fc 69%, #cdddea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdddea', GradientType=1 ); }

.container-home {
  height: 100%; }

.carousel-inner {
  height: 100%; }

#slider-home {
  height: 100%; }
  @media (min-width: 1010px) {
    #slider-home {
      height: calc(100% - 200px); } }
  #slider-home .carousel,
  #slider-home .item,
  #slider-home .active {
    height: 100%; }

/* Background images are set within the HTML using inline CSS, not here */
.fill {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 100%; }

#container {
  width: 100%;
  height: 100%;
  position: relative; }

.content-page {
  position: relative; }

#logo {
  position: absolute;
  bottom: 40px;
  z-index: 9999;
  width: 100%;
  margin: 0 auto;
  margin-left: 0; }
  #logo a {
    display: block;
    padding: 0 20px;
    max-width: 330px;
    margin: 0 auto; }
    #logo a img {
      width: 80%; }
  @media (min-width: 790px) {
    #logo {
      margin-left: 80px;
      width: auto; }
      #logo a {
        margin: 0; }
        #logo a img {
          width: 100%; } }

#slider-home .slide-message {
  position: absolute;
  top: 35%;
  width: 65%;
  left: 17.5%;
  color: #fff;
  font-family: "BreeBoldItalic";
  color: #fff; }
  #slider-home .slide-message h2 {
    font-size: 30px;
    text-shadow: 0px 0px 5px #ababab; }
    #slider-home .slide-message h2.black {
      color: black; }
  #slider-home .slide-message h3 {
    font-size: 40px;
    text-align: right;
    text-shadow: 0px 0px 5px #ababab; }
    #slider-home .slide-message h3.black {
      color: black; }
    #slider-home .slide-message h3 span {
      font-size: 50px; }
      #slider-home .slide-message h3 span.red {
        color: red; }
  #slider-home .slide-message.inverted {
    top: 20%; }
    #slider-home .slide-message.inverted h2 {
      text-align: right; }
    #slider-home .slide-message.inverted h3 {
      text-align: left;
      padding-top: 100px; }
  @media (min-width: 790px) {
    #slider-home .slide-message {
      left: 15%;
      width: 70%; }
      #slider-home .slide-message h2 {
        font-size: 40px; }
      #slider-home .slide-message h3 {
        font-size: 55px; }
        #slider-home .slide-message h3 span {
          font-size: 70px; }
      #slider-home .slide-message.inverted {
        top: 10%; } }

#marca-peru {
  position: absolute;
  bottom: 25px;
  right: 60px;
  text-align: right; }
  #marca-peru img {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7); }
    @media (min-width: 790px) {
      #marca-peru img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); } }

#franja-roja {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: right;
  height: 200px;
  position: absolute;
  bottom: -30px;
  right: 0;
  left: 0; }

.box {
  height: 160px;
  margin: 2.5px -12.5px; }
  .box:hover {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .box a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative; }
  .box.box-nosotros {
    background-color: #e72d1e; }
    .box.box-nosotros:hover {
      background-color: #860101; }
  .box.box-economia {
    background-color: #fdc82f; }
    .box.box-economia:hover {
      background-color: #ee9509; }
  .box.box-politica {
    background-color: #0079c1; }
    .box.box-politica:hover {
      background-color: #0b4769; }
  .box.box-lineamiento {
    background-color: #7d0063; }
    .box.box-lineamiento:hover {
      background-color: #680448; }
  .box.box-modelo {
    background-color: #7ab800; }
    .box.box-modelo:hover {
      background-color: #4e7906; }
  .box .box-content {
    padding: 32px 5px 0;
    text-align: center;
    width: 100%; }
    .box .box-content .box-title {
      position: relative;
      height: 64px; }
      .box .box-content .box-title .box-align {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0; }
      .box .box-content .box-title h2 {
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase; }
    .box .box-content figure img {
      max-width: 100%; }

section#home {
  height: auto;
  background-color: #ebebeb;
  padding: 17.5px 0; }
  @media (min-width: 1010px) {
    section#home {
      height: 200px;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute; } }

@media (min-width: 790px) {
  #footer .content-footer {
    padding: 30px 0 0; } }
#footer .logo-footer {
  padding-left: 50px; }
  #footer .logo-footer img {
    max-width: 80%; }
#footer .box-footer {
  margin: 30px 0; }
#footer .title-footer {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  background-color: #e72d1e;
  font-size: 18px;
  padding: 0px 14px; }
#footer .wrap-footer {
  padding-top: 14px; }
  #footer .wrap-footer .wrap-content-footer, #footer .wrap-footer a {
    color: #a9a9ab;
    font-size: 14px; }
  #footer .wrap-footer a:hover {
    text-decoration: underline; }
#footer ul.social-list {
  display: table;
  width: 100%; }
  #footer ul.social-list li {
    float: left;
    margin-right: 20px; }
    #footer ul.social-list li:last-child {
      margin-right: 0; }
    #footer ul.social-list li a {
      display: block;
      height: 26px;
      font-size: 26px;
      line-height: 26px;
      background-repeat: no-repeat;
      background-position: top center; }
      #footer ul.social-list li a:hover {
        opacity: 0.8; }

#language {
  position: absolute;
  top: 0;
  right: 5%;
  z-index: 1; }
  #language .languages ul {
    background-color: #ed1d24;
    display: table;
    padding: 0 25px; }
    #language .languages ul li {
      float: left;
      padding: 6px 5px; }
      #language .languages ul li a {
        color: #fff; }
        #language .languages ul li a:hover {
          opacity: 0.8; }
      #language .languages ul li span {
        color: #eb9194; }
      #language .languages ul li a, #language .languages ul li span {
        font-size: 12px;
        display: block; }
  @media (min-width: 768px) {
    #language {
      right: 15%; }
      #language .languages ul li a, #language .languages ul li span {
        font-size: 15px; } }

#header {
  background-color: #ebeced;
  -webkit-box-shadow: 0 -2px 14px #000;
  -moz-box-shadow: 0 -2px 14px #000;
  box-shadow: 0 -2px 14px #000; }

.navbar-main {
  min-height: 142px;
  background-color: transparent; }
  .navbar-main .navbar {
    border: medium none;
    padding: 50px 0 30px;
    margin-bottom: 0; }
    .navbar-main .navbar .navbar-header a {
      position: relative;
      padding: 0;
      margin: 0; }
      .navbar-main .navbar .navbar-header a img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 200px; }
        @media (min-width: 768px) {
          .navbar-main .navbar .navbar-header a img {
            left: -20px;
            width: 160px; } }
        @media (min-width: 992px) {
          .navbar-main .navbar .navbar-header a img {
            width: 200px;
            left: 0; } }
        @media (min-width: 1210px) {
          .navbar-main .navbar .navbar-header a img {
            width: auto;
            bottom: auto; } }
    .navbar-main .navbar .navbar-header .navbar-brand img {
      bottom: 0;
      position: absolute; }
    .navbar-main .navbar .navbar-nav {
      margin-right: 0; }
      .navbar-main .navbar .navbar-nav li {
        padding: 0; }
        @media (min-width: 768px) {
          .navbar-main .navbar .navbar-nav li {
            padding: 0 10px; } }
        @media (min-width: 992px) {
          .navbar-main .navbar .navbar-nav li {
            padding: 0 15px; } }
        @media (min-width: 1210px) {
          .navbar-main .navbar .navbar-nav li {
            padding: 0 20px; } }
        .navbar-main .navbar .navbar-nav li a {
          color: #4f4f4f;
          background-color: transparent;
          border-bottom: 4px solid transparent;
          font-family: Arial;
          font-size: 13px;
          padding: 20px 0;
          position: relative;
          width: 100%; }
          @media (min-width: 768px) {
            .navbar-main .navbar .navbar-nav li a {
              font-size: 10px; } }
          @media (min-width: 992px) {
            .navbar-main .navbar .navbar-nav li a {
              font-size: 12px; } }
          .navbar-main .navbar .navbar-nav li a span {
            display: block;
            text-align: center; }
          .navbar-main .navbar .navbar-nav li a.double {
            padding: 10px 0; }
          .navbar-main .navbar .navbar-nav li a.inicio.active, .navbar-main .navbar .navbar-nav li a.inicio:hover, .navbar-main .navbar .navbar-nav li a.inicio:focus {
            border-color: #4f4f4f; }
          .navbar-main .navbar .navbar-nav li a.nosotros.active, .navbar-main .navbar .navbar-nav li a.nosotros:hover, .navbar-main .navbar .navbar-nav li a.nosotros:focus {
            color: #e72d1e;
            border-color: #e72d1e; }
          .navbar-main .navbar .navbar-nav li a.economia.active, .navbar-main .navbar .navbar-nav li a.economia:hover, .navbar-main .navbar .navbar-nav li a.economia:focus {
            color: #fdc82f;
            border-color: #fdc82f; }
          .navbar-main .navbar .navbar-nav li a.politica.active, .navbar-main .navbar .navbar-nav li a.politica:hover, .navbar-main .navbar .navbar-nav li a.politica:focus {
            color: #0079c1;
            border-color: #0079c1; }
          .navbar-main .navbar .navbar-nav li a.lineamiento.active, .navbar-main .navbar .navbar-nav li a.lineamiento:hover, .navbar-main .navbar .navbar-nav li a.lineamiento:focus {
            color: #7d0063;
            border-color: #7d0063; }
          .navbar-main .navbar .navbar-nav li a.modelo.active, .navbar-main .navbar .navbar-nav li a.modelo:hover, .navbar-main .navbar .navbar-nav li a.modelo:focus {
            color: #7ab800;
            border-color: #7ab800; }
    .navbar-main .navbar.navbar-default {
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

a.orange {
  color: #fdc82f; }
  a.orange:hover {
    text-decoration: underline; }
a:focus {
  outline: medium none; }

#page {
  padding: 30px 0 60px; }

#sidebar, #wrap-page {
  margin: 10px 0; }

@media (min-width: 768px) {
  #sidebar {
    width: 345px; } }
@media (min-width: 992px) {
  #sidebar {
    width: 293px; } }
@media (min-width: 1200px) {
  #sidebar {
    width: 262.5px; } }

@media (max-width: 768px) {
  #sidebar {
    position: static !important; } }

ul.bullet > li {
  padding-left: 30px;
  text-indent: -30px; }
  ul.bullet > li:before {
    margin-right: 25px;
    content: "\2022"; }

.modal-content {
  font-family: Arial, sans-serif; }
  .modal-content figure {
    margin: 35px 0 60px; }
    .modal-content figure img {
      display: block;
      max-width: 100%;
      margin: 0 auto; }
    .modal-content figure figcaption {
      margin: 20px 0;
      font-size: 13px;
      color: #505050; }
  .modal-content .title-img {
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-bottom: 30px;
    font-family: 'BreeBold'; }
    .modal-content .title-img .sub-title {
      font-size: 18px;
      font-family: 'Bree';
      font-weight: normal; }
  .modal-content .footer-img {
    margin: 20px 0; }

#wrap-page .content-seccion a, #wrap-page .panel-body a {
  font-weight: bold; }
#wrap-page .content-seccion p, #wrap-page .content-seccion ul, #wrap-page .panel-body p, #wrap-page .panel-body ul {
  color: #9a9a9a;
  font-size: 15px; }
#wrap-page .content-seccion p, #wrap-page .panel-body p {
  font-weight: bold; }
  #wrap-page .content-seccion p.light, #wrap-page .panel-body p.light {
    font-weight: normal; }
#wrap-page .content-seccion ul, #wrap-page .content-seccion ol, #wrap-page .panel-body ul, #wrap-page .panel-body ol {
  margin: 20px 0; }
  #wrap-page .content-seccion ul li, #wrap-page .content-seccion ol li, #wrap-page .panel-body ul li, #wrap-page .panel-body ol li {
    padding-left: 30px;
    text-indent: -30px;
    margin-bottom: 20px; }
    #wrap-page .content-seccion ul li:before, #wrap-page .content-seccion ol li:before, #wrap-page .panel-body ul li:before, #wrap-page .panel-body ol li:before {
      margin-right: 25px; }
  #wrap-page .content-seccion ul.no-m-t, #wrap-page .content-seccion ol.no-m-t, #wrap-page .panel-body ul.no-m-t, #wrap-page .panel-body ol.no-m-t {
    margin-top: 0; }
#wrap-page .content-seccion ol, #wrap-page .panel-body ol {
  padding-left: 15px; }
  #wrap-page .content-seccion ol li, #wrap-page .panel-body ol li {
    list-style-type: decimal;
    text-indent: 0; }
    #wrap-page .content-seccion ol li span, #wrap-page .panel-body ol li span {
      color: #9a9a9a; }
#wrap-page .content-seccion ul > li:before, #wrap-page .panel-body ul > li:before {
  content: "\2022"; }
#wrap-page .content-seccion ul > li ul, #wrap-page .content-seccion ul > li ol, #wrap-page .panel-body ul > li ul, #wrap-page .panel-body ul > li ol {
  padding-left: 20px; }
  #wrap-page .content-seccion ul > li ul li, #wrap-page .content-seccion ul > li ol li, #wrap-page .panel-body ul > li ul li, #wrap-page .panel-body ul > li ol li {
    list-style-type: circle;
    padding-left: 16px;
    text-indent: -26px; }
    #wrap-page .content-seccion ul > li ul li:before, #wrap-page .content-seccion ul > li ol li:before, #wrap-page .panel-body ul > li ul li:before, #wrap-page .panel-body ul > li ol li:before {
      content: ""; }
#wrap-page .content-seccion figure, #wrap-page .panel-body figure {
  margin: 0 0 20px; }
  #wrap-page .content-seccion figure img, #wrap-page .panel-body figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
  #wrap-page .content-seccion figure figcaption, #wrap-page .panel-body figure figcaption {
    margin: 20px 0;
    font-size: 13px;
    color: #505050; }
  #wrap-page .content-seccion figure p, #wrap-page .panel-body figure p {
    margin-top: 20px;
    font-weight: normal;
    padding: 20px; }
#wrap-page .content-seccion .title-img, #wrap-page .panel-body .title-img {
  text-align: center;
  font-size: 20px;
  color: #555;
  margin-bottom: 30px;
  font-family: 'BreeBold'; }
  #wrap-page .content-seccion .title-img .sub-title, #wrap-page .panel-body .title-img .sub-title {
    font-size: 18px;
    font-family: 'Bree';
    font-weight: normal; }
#wrap-page .content-seccion .footer-img, #wrap-page .panel-body .footer-img {
  margin: 20px 0; }
#wrap-page .panel-body > figure {
  margin: 20px 0 40px; }
#wrap-page .tab-pane p, #wrap-page .tab-pane ul {
  color: #9a9a9a;
  font-size: 15px; }
#wrap-page .introduction p {
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 15px; }
#wrap-page .sub-introduction {
  margin-top: 30px; }
  #wrap-page .sub-introduction .panel-body {
    padding: 15px; }
    #wrap-page .sub-introduction .panel-body figure {
      margin: 0; }
#wrap-page .tab-introduccion {
  background-color: #fff;
  margin-top: 20px; }
  #wrap-page .tab-introduccion.tab-lineamiento {
    background-repeat: no-repeat;
    background-position: right top; }
    @media (min-width: 1200px) {
      #wrap-page .tab-introduccion.tab-lineamiento {
        background-size: 300px;
        padding-right: 300px;
        background-image: url("../img/pages/ppk1.jpg"); } }
  #wrap-page .tab-introduccion .nav-tabs {
    background-color: #f2f2f2;
    border: medium none;
    margin: 0;
    padding: 0; }
    #wrap-page .tab-introduccion .nav-tabs > li {
      background-color: #fff;
      padding-left: 0; }
    #wrap-page .tab-introduccion .nav-tabs > li.active > a, #wrap-page .tab-introduccion .nav-tabs > li.active > a:hover, #wrap-page .tab-introduccion .nav-tabs > li.active > a:focus {
      background-color: #8bbc3a;
      color: #fff; }
    #wrap-page .tab-introduccion .nav-tabs > li > a {
      color: #838383;
      background-color: #e2e2e2;
      font-size: 16px;
      border: medium none;
      margin-right: 1px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0; }
  #wrap-page .tab-introduccion p {
    color: #58595b; }
  #wrap-page .tab-introduccion .tab-content > .tab-pane {
    padding: 28px 44px; }
#wrap-page .panel-default > .panel-heading a {
  color: #fff; }

.box-sidebar .top-sidebar {
  padding: 25px 15px; }
  .box-sidebar .top-sidebar h3 {
    padding: 0 10px;
    color: #fff;
    font-family: "Bree";
    font-size: 25px; }
    .box-sidebar .top-sidebar h3 span {
      color: #ffffff; }
.box-sidebar .body-sidebar {
  padding: 18px 25px;
  background-color: #fff; }
  .box-sidebar .body-sidebar ul.list-categories li {
    background-color: #fff;
    display: block;
    width: 100%; }
    .box-sidebar .body-sidebar ul.list-categories li a {
      color: #696969;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 16px;
      display: block;
      padding: 15px 33px 15px 18px;
      font-family: "Bree"; }
      .box-sidebar .body-sidebar ul.list-categories li a:hover, .box-sidebar .body-sidebar ul.list-categories li a:focus {
        text-decoration: none; }
      .box-sidebar .body-sidebar ul.list-categories li a .fa {
        float: right;
        font-size: 16px;
        line-height: 16px;
        display: none;
        margin-right: -15px; }
    .box-sidebar .body-sidebar ul.list-categories li:hover, .box-sidebar .body-sidebar ul.list-categories li.active {
      background-color: #efefef; }
    .box-sidebar .body-sidebar ul.list-categories li.active a .fa {
      display: block; }
.box-sidebar .foot-sidebar {
  margin-top: 10px; }
  .box-sidebar .foot-sidebar a {
    background-color: #fff;
    display: block;
    padding: 20px;
    margin-top: 10px; }
    .box-sidebar .foot-sidebar a:first-child {
      margin-top: 0; }
    .box-sidebar .foot-sidebar a:hover, .box-sidebar .foot-sidebar a:focus {
      text-decoration: none;
      outline: medium none; }
    .box-sidebar .foot-sidebar a.doc {
      display: none; }
      .box-sidebar .foot-sidebar a.doc.show {
        display: block; }
      .box-sidebar .foot-sidebar a.doc .fa {
        color: #fdc82f;
        float: right; }
  .box-sidebar .foot-sidebar span {
    display: block;
    color: #696969;
    font-size: 16px;
    line-height: 1.1; }

.introduction {
  padding-right: 30px;
  font-size: 15px;
  color: #fff; }
  .introduction .bg-introduccion {
    background-image: none;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
    padding: 35px 20px 25px 50px; }
    @media (min-width: 992px) {
      .introduction .bg-introduccion {
        background-image: url("../img/border-introduction.png");
        padding: 35px 95px 25px 50px; } }
  .introduction figure.intro-img {
    margin-bottom: 30px; }
  .introduction h2 {
    font-size: 38px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'BreeBold'; }
  .introduction h3 {
    color: #fff2df;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Bree'; }
  .introduction ul {
    margin: 0 0 10px; }
    .introduction ul li {
      list-style: initial; }

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: none; }

.panel {
  border: 0 solid; }
  .panel .panel-body {
    font-family: Arial, sans-serif;
    padding: 20px 40px;
    font-size: 15px; }

.table.center-align > tbody > tr > td {
  text-align: center;
  vertical-align: middle; }
  .table.center-align > tbody > tr > td:first-child, .table.center-align > tbody > tr > td:first-child + td + td {
    text-align: left; }
.table.center-align > thead > tr > th {
  text-align: center;
  vertical-align: middle; }
.table.table-zone thead tr {
  color: #fff; }
.table.white-space tbody tr td:first-child {
  white-space: nowrap; }
.table.center-vertical > thead > tr > th, .table.center-vertical > tbody > tr > td {
  text-align: center;
  vertical-align: middle; }
.table.center-vertical > tbody > tr.box-table td:first-child {
  text-align: center; }
  .table.center-vertical > tbody > tr.box-table td:first-child + td {
    text-align: left; }
.table.center-vertical > tbody > tr > td:first-child {
  text-align: left; }

.panel-default > .panel-heading {
  padding: 0;
  background-color: transparent;
  background-image: none; }
  .panel-default > .panel-heading a {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    padding: 17px 40px 13px;
    text-decoration: none;
    font-family: 'Bree'; }
    .panel-default > .panel-heading a .fa {
      float: right; }
    .panel-default > .panel-heading a.collapsed .fa.fa-angle-up:before {
      content: "\f107"; }

.content-seccion, .panel-body {
  background-color: #fff;
  padding: 35px 50px; }
  .content-seccion.bg-transparent, .panel-body.bg-transparent {
    background-color: transparent; }
  .content-seccion h2, .panel-body h2 {
    font-size: 25px;
    margin: 25px 0 15px;
    text-transform: uppercase; }
    .content-seccion h2:first-child, .panel-body h2:first-child {
      margin-top: 0; }

.panel-group .panel + .panel {
  margin-top: 12px; }

.bg #footer, .bg-mapa #footer {
  background-color: rgba(0, 0, 0, 0.6); }

.bg-economia a {
  color: #fdc82f; }
.bg-economia .box-sidebar .top-sidebar {
  background-color: #fdc82f; }
  .bg-economia .box-sidebar .top-sidebar h3 {
    color: #d3a538; }
.bg-economia .box-sidebar .body-sidebar ul.list-categories li:hover a, .bg-economia .box-sidebar .body-sidebar ul.list-categories li.active a {
  color: #fdc82f; }
.bg-economia .introduction {
  background-color: #fdc82f; }
.bg-economia .panel-default > .panel-heading {
  background-color: #fdc82f; }
.bg-economia #wrap-page li:before {
  color: #fdc82f; }
.bg-economia #wrap-page .tab-introduccion .nav-tabs > li.active > a, .bg-economia #wrap-page .tab-introduccion .nav-tabs > li.active > a:hover, .bg-economia #wrap-page .tab-introduccion .nav-tabs > li.active > a:focus {
  background-color: #fdc82f; }

.bg-lineamiento a {
  color: #7d0063; }
.bg-lineamiento .box-sidebar .top-sidebar {
  background-color: #7d0063; }
  .bg-lineamiento .box-sidebar .top-sidebar h3 {
    color: #d172b2; }
.bg-lineamiento .box-sidebar .body-sidebar ul.list-categories li:hover a, .bg-lineamiento .box-sidebar .body-sidebar ul.list-categories li.active a {
  color: #7d0063; }
.bg-lineamiento .introduction {
  background-color: #7d0063; }
.bg-lineamiento .panel-default > .panel-heading {
  background-color: #7d0063; }
.bg-lineamiento #wrap-page li:before {
  color: #7d0063; }
.bg-lineamiento #wrap-page .tab-introduccion .nav-tabs > li.active > a, .bg-lineamiento #wrap-page .tab-introduccion .nav-tabs > li.active > a:hover, .bg-lineamiento #wrap-page .tab-introduccion .nav-tabs > li.active > a:focus {
  background-color: #7d0063; }
.bg-lineamiento #wrap-page a {
  color: #7d0063; }

.bg-nosotros a {
  color: #e72d1e; }
.bg-nosotros .box-sidebar .top-sidebar {
  background-color: #e72d1e; }
.bg-nosotros .box-sidebar .body-sidebar ul.list-categories li:hover a, .bg-nosotros .box-sidebar .body-sidebar ul.list-categories li.active a {
  color: #e72d1e; }
.bg-nosotros .introduction {
  background-color: #e72d1e; }
.bg-nosotros .panel-default > .panel-heading {
  background-color: #e72d1e; }
.bg-nosotros .content-seccion h2, .bg-nosotros .panel-body h2 {
  color: #e72d1e; }
.bg-nosotros .content-seccion ol li, .bg-nosotros .panel-body ol li {
  color: #e72d1e; }
.bg-nosotros #wrap-page li:before {
  color: #e72d1e; }
.bg-nosotros #wrap-page .tab-introduccion .nav-tabs > li.active > a, .bg-nosotros #wrap-page .tab-introduccion .nav-tabs > li.active > a:hover, .bg-nosotros #wrap-page .tab-introduccion .nav-tabs > li.active > a:focus {
  background-color: #e72d1e; }

.bg-politica a {
  color: #0079c1; }
.bg-politica .box-sidebar .top-sidebar {
  background-color: #0079c1; }
.bg-politica .box-sidebar .body-sidebar ul.list-categories li:hover a, .bg-politica .box-sidebar .body-sidebar ul.list-categories li.active a {
  color: #0079c1; }
.bg-politica .introduction {
  background-color: #0079c1; }
.bg-politica .panel-default > .panel-heading {
  background-color: #0079c1; }
.bg-politica .content-seccion h2, .bg-politica .panel-body h2 {
  color: #0079c1; }
.bg-politica .content-seccion ol li, .bg-politica .panel-body ol li {
  color: #0079c1; }
.bg-politica #wrap-page li:before {
  color: #0079c1; }
.bg-politica #wrap-page .tab-introduccion .nav-tabs > li.active > a, .bg-politica #wrap-page .tab-introduccion .nav-tabs > li.active > a:hover, .bg-politica #wrap-page .tab-introduccion .nav-tabs > li.active > a:focus {
  background-color: #0079c1; }

.bg-modelo a {
  color: #7ab800; }
.bg-modelo .box-sidebar .top-sidebar {
  background-color: #7ab800; }
.bg-modelo .box-sidebar .body-sidebar ul.list-categories li:hover a, .bg-modelo .box-sidebar .body-sidebar ul.list-categories li.active a {
  color: #7ab800; }
.bg-modelo .introduction {
  background-color: #7ab800; }
.bg-modelo .panel-default > .panel-heading {
  background-color: #7ab800; }
.bg-modelo .content-seccion h2, .bg-modelo .panel-body h2 {
  color: #7ab800; }
.bg-modelo .content-seccion ol li, .bg-modelo .panel-body ol li {
  color: #7ab800; }
.bg-modelo #wrap-page li:before {
  color: #7ab800; }
.bg-modelo #wrap-page .tab-introduccion .nav-tabs > li.active > a, .bg-modelo #wrap-page .tab-introduccion .nav-tabs > li.active > a:hover, .bg-modelo #wrap-page .tab-introduccion .nav-tabs > li.active > a:focus {
  background-color: #7ab800; }
.bg-modelo .table.table-zone thead tr {
  background-color: #7ab800; }

.box-map {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  margin: 20px 0;
  background-color: transparent; }
  .box-map.orange-map .header-map {
    background-color: #fdc82f; }
  .box-map.orange-map .line-top-map:before, .box-map.orange-map .line-top-map:after, .box-map.orange-map .line-top-map .inner-line {
    background-color: #fdc82f; }
  .box-map.orange-map .body-map ul li a:hover, .box-map.orange-map .body-map ul li a:focus, .box-map.orange-map .body-map ul li a.active {
    color: #fdc82f; }
  .box-map.orange-map.panel-default > .panel-heading {
    background-color: #fdc82f; }
  .box-map.blue-map .header-map {
    background-color: #0079c1; }
  .box-map.blue-map .line-top-map:before, .box-map.blue-map .line-top-map:after, .box-map.blue-map .line-top-map .inner-line {
    background-color: #0079c1; }
  .box-map.blue-map .body-map ul li a:hover, .box-map.blue-map .body-map ul li a:focus, .box-map.blue-map .body-map ul li a.active {
    color: #0079c1; }
  .box-map.blue-map.panel-default > .panel-heading {
    background-color: #0079c1; }
  .box-map.green-map .header-map {
    background-color: #7ab800; }
  .box-map.green-map .line-top-map:before, .box-map.green-map .line-top-map:after, .box-map.green-map .line-top-map .inner-line {
    background-color: #7ab800; }
  .box-map.green-map .body-map ul li a:hover, .box-map.green-map .body-map ul li a:focus, .box-map.green-map .body-map ul li a.active {
    color: #7ab800; }
  .box-map.green-map.panel-default > .panel-heading {
    background-color: #7ab800; }
  .box-map.panel-default > .panel-heading a {
    padding: 7px 20px;
    font-size: 15px;
    color: #fff;
    font-weight: normal;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; }
  .box-map .line-top-map {
    height: 2px;
    background-color: #b6b7b4;
    margin-bottom: 12px;
    position: relative; }
    .box-map .line-top-map .inner-line {
      position: absolute;
      left: 0;
      height: 2px;
      width: 30%; }
    .box-map .line-top-map:before {
      left: 0; }
    .box-map .line-top-map:after {
      right: 0; }
    .box-map .line-top-map:before, .box-map .line-top-map:after {
      content: "";
      position: absolute;
      top: -2px;
      height: 6px;
      width: 2px; }
  .box-map .header-map {
    padding: 7px 20px; }
    .box-map .header-map h2 {
      font-size: 15px;
      color: #fff; }
  .box-map .body-map {
    background-color: rgba(255, 255, 255, 0.29);
    margin: 10px 0 0;
    padding-bottom: 20px; }
    .box-map .body-map ul li a {
      color: #646464;
      display: block;
      padding: 2px 20px; }
      .box-map .body-map ul li a:hover, .box-map .body-map ul li a:focus, .box-map .body-map ul li a.active {
        background-color: #fff;
        text-decoration: none;
        outline: medium none; }
      .box-map .body-map ul li a.orange {
        margin-top: 10px;
        background-color: #fdc82f;
        color: #fff; }
        .box-map .body-map ul li a.orange:hover, .box-map .body-map ul li a.orange:focus, .box-map .body-map ul li a.orange.active {
          opacity: 0.8;
          color: #fff; }
        .box-map .body-map ul li a.orange:focus {
          opacity: 1; }

.content-map {
  margin: 20px 0; }
  .content-map h1 {
    color: #6f6f6f;
    font-size: 22px;
    margin-bottom: 50px; }
    .content-map h1 span {
      color: #fdc82f; }
  .content-map .bg-map {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("../img/bg-map.png");
    height: 740px; }
    .content-map .bg-map img {
      display: block;
      margin-left: 130px; }
  .content-map .bg-map-mundi {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("../img/bg-map-mundi.png");
    height: 500px;
    position: relative; }
    .content-map .bg-map-mundi img {
      display: block;
      margin-left: -60px; }
    .content-map .bg-map-mundi .tooltip {
      font-size: 11px;
      z-index: 1; }
      .content-map .bg-map-mundi .tooltip.right .tooltip-arrow {
        border-right-color: #e4f5fd; }
      .content-map .bg-map-mundi .tooltip.top .tooltip-arrow {
        border-top-color: #e4f5fd; }
      .content-map .bg-map-mundi .tooltip.left .tooltip-arrow {
        border-left-color: #e4f5fd; }
      .content-map .bg-map-mundi .tooltip.bottom .tooltip-arrow {
        border-bottom-color: #e4f5fd; }
    .content-map .bg-map-mundi .tooltip-inner {
      background-color: #e4f5fd;
      color: #316eb6;
      text-transform: uppercase;
      font-weight: bold;
      padding: 2px 6px; }

#footer-map {
  background-color: #bed4e7;
  background: -webkit-gradient(linear, left top, left bottom, from(#bed4e7), to(rgba(226, 236, 244, 0.55)));
  background: -webkit-linear-gradient(top, #bed4e7, rgba(226, 236, 244, 0.55));
  background: -moz-linear-gradient(top, #bed4e7, rgba(226, 236, 244, 0.55));
  background: -ms-linear-gradient(top, #bed4e7, rgba(226, 236, 244, 0.55));
  background: -o-linear-gradient(top, #bed4e7, rgba(226, 236, 244, 0.55));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bed4e7', endColorstr='rgba(226, 236, 244, 0.55)');
  height: 170px;
  margin-top: -155px; }

.modal-orange .modal-header {
  background-color: #f1f1f1; }
  .modal-orange .modal-header .modal-title {
    color: #fdc82f;
    text-transform: uppercase; }
.modal-orange .table tr td {
  text-align: center;
  vertical-align: middle; }
  .modal-orange .table tr td:first-child {
    background-color: #fdc82f;
    border-color: #fff;
    color: #fff;
    text-align: left; }
    .modal-orange .table tr td:first-child[colspan] {
      background-color: #db7a05;
      text-align: center; }
.modal-orange .table tr:nth-child(2) td, .modal-orange .table tr:nth-child(4) td {
  background-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent; }
@media (min-width: 768px) {
  .modal-orange .modal-sm {
    width: 320px; } }

.modal-blue .modal-header {
  background-color: #f1f1f1; }
  .modal-blue .modal-header .modal-title {
    color: #0079c1;
    text-transform: uppercase; }
.modal-blue .table tr {
  text-align: center; }
  .modal-blue .table tr:nth-child(1), .modal-blue .table tr:nth-child(2), .modal-blue .table tr:nth-child(4), .modal-blue .table tr:nth-child(5) {
    background-color: #3382d1;
    color: #fff; }
  .modal-blue .table tr td {
    vertical-align: middle; }
    .modal-blue .table tr td[colspan] {
      background-color: #316eb6;
      color: #fff; }
@media (min-width: 768px) {
  .modal-blue .modal-sm {
    width: 400px; } }

.pin-map {
  height: 24px;
  width: 13px;
  background-repeat: no-repeat;
  background-image: url("../img/pinmap.png");
  position: absolute;
  cursor: pointer;
  display: none; }
  .pin-map[data-show="false"] {
    cursor: default; }
  .pin-map.tailandia {
    top: 108px;
    left: 14px; }
  .pin-map.corea-del-sur {
    top: 74px;
    left: 107px; }
  .pin-map.japon {
    top: 74px;
    left: 141px; }
  .pin-map.singapur {
    top: 151px;
    left: 15px; }
  .pin-map.canada {
    left: 317px;
    top: 18px; }
  .pin-map.usa {
    top: 46px;
    left: 312px; }
  .pin-map.mexico {
    top: 76px;
    left: 283px; }
  .pin-map.el-salvador {
    left: 298px;
    top: 115px; }
  .pin-map.costa-rica {
    top: 130px;
    left: 320px; }
  .pin-map.cuba {
    top: 114px;
    left: 359px; }
  .pin-map.venezuela {
    left: 400px;
    top: 145px; }
  .pin-map.chile {
    top: 222px;
    left: 387px; }
  .pin-map.china {
    top: 69px;
    left: 779px; }
  .pin-map.islandia {
    top: -12px;
    left: 593px; }
  .pin-map.noruega {
    top: 18px;
    left: 592px; }
  .pin-map.liechtenstein {
    top: 39px;
    left: 633px; }
  .pin-map.suiza {
    top: 53px;
    left: 619px; }
  .pin-map.ecuador {
    top: 160px;
    left: 350px; }
  .pin-map.colombia {
    top: 159px;
    left: 380px; }
  .pin-map.bolivia {
    top: 206px;
    left: 401px; }
  .pin-map.paraguay {
    top: 219px;
    left: 435px; }
  .pin-map.brasil {
    top: 184px;
    left: 458px; }
  .pin-map.argentina {
    top: 260px;
    left: 414px; }
  .pin-map.uruguay {
    top: 236px;
    left: 458px; }
  .pin-map.guatemala {
    left: 317px;
    top: 132px; }
  .pin-map.honduras {
    left: 335px;
    top: 127px; }
  .pin-map.vietnam {
    left: 10px;
    top: 88px; }
  .pin-map.brunei {
    left: -3px;
    top: 115px; }
  .pin-map.malasia {
    left: 15px;
    top: 119px; }
  .pin-map.australia {
    left: 82px;
    top: 228px; }
  .pin-map.nueva-zelanda {
    left: 139px;
    top: 267px; }
  .pin-map.turquia {
    left: 679px;
    top: 71px; }
  .pin-map.corea {
    left: 113px;
    top: 59px; }
  .pin-map.hong-kong {
    left: 88px;
    top: 94px; }
  .pin-map.taipei {
    left: 88px;
    top: 123px; }
  .pin-map.panama {
    left: 344px;
    top: 149px; }
  .pin-map.mauricio {
    left: 822px;
    top: 219px; }
  .pin-map.pakistan {
    left: 799px;
    top: 94px; }
  .pin-map.israel {
    left: 659px;
    top: 88px; }
  .pin-map.union-europea {
    left: 562px;
    top: 14px;
    width: 142px;
    height: 108px;
    background-repeat: no-repeat;
    background-image: url("../img/bg-union-europea.png");
    background-size: 83%; }

.float-box {
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3));
  background: -webkit-linear-gradient(top, #fff, #f3f3f3);
  background: -moz-linear-gradient(top, #fff, #f3f3f3);
  background: -ms-linear-gradient(top, #fff, #f3f3f3);
  background: -o-linear-gradient(top, #fff, #f3f3f3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f3f3f3');
  -webkit-box-shadow: 3px 3px 4px #999;
  -moz-box-shadow: 3px 3px 4px #999;
  box-shadow: 3px 3px 4px #999;
  position: absolute;
  top: 33px;
  width: 270px;
  right: -262px;
  padding: 20px 12px;
  z-index: 1;
  display: none; }
  .float-box a {
    color: #747474;
    display: block;
    text-transform: uppercase; }
    .float-box a:hover {
      color: #0079c1; }

.btn-map {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: -1px 1px 3px #333;
  -moz-box-shadow: -1px 1px 3px #333;
  box-shadow: -1px 1px 3px #333;
  display: block;
  width: auto;
  height: 68px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: relative;
  padding: 0 15px 0 80px;
  font-size: 12px; }
  @media (min-width: 992px) {
    .btn-map {
      width: 346px;
      font-size: 15px; } }
  .btn-map.perumap {
    background-image: url("../img/bgbtn-perumap.png"); }
  .btn-map.worldmap {
    background-image: url("../img/bgbtn-worldmap.png"); }
  .btn-map span {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%; }

/* Custom pop up */
.mfp-figure:after {
  background-color: #fff; }

.modal-header {
  border-bottom: medium none; }

img.mfp-img {
  padding: 0;
  background-color: #fff;
  margin: 40px 0; }

.mfp-img {
  cursor: pointer; }

.mfp-force-scrollbars.mfp-wrap {
  overflow-y: auto !important;
  overflow-x: auto !important; }
.mfp-force-scrollbars .mfp-img {
  max-width: none; }
.mfp-force-scrollbars .mfp-close {
  position: fixed;
  top: 0;
  right: 44px; }

.float-image img {
  max-width: 100%;
  margin: 20px 0; }
  @media (min-width: 992px) {
    .float-image img {
      float: right;
      width: 200px;
      margin: 0px 0 20px 20px; } }
  @media (min-width: 1210px) {
    .float-image img {
      width: 300px; } }

/*# sourceMappingURL=style.css.map */
