ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1-5 {
  width: 20%;
  float: left; }

.col-xs-offset-0-5 {
  margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left; }

  .col-sm-offset-2-5 {
    margin-left: 40%; } }
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left; } }
.navbar {
  border-radius: 0; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent; }

body {
  background-color: #edeef0;
  font-family: calibri, Arial, sans-serif; }

html.home,
body.home {
  height: 100%; }

body.bg-economia {
  background: url(../img/bg-economia.jpg) no-repeat center center fixed; }
body.bg-lineamiento {
  background: url(../img/bg-lineamiento.jpg) no-repeat center center fixed; }
body.bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.container-home {
  height: 100%; }

.carousel-inner {
  height: 100%; }

#slider-home {
  height: 100%; }
  @media (min-width: 1010px) {
    #slider-home {
      height: calc(100% - 200px); } }
  #slider-home .carousel,
  #slider-home .item,
  #slider-home .active {
    height: 100%; }

/* Background images are set within the HTML using inline CSS, not here */
.fill {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%; }

#container {
  width: 100%;
  height: 100%;
  position: relative; }

@media (min-width: 790px) {
  .container {
    width: 750px; } }
@media (min-width: 1010px) {
  .container {
    width: 970px; } }
@media (min-width: 1210px) {
  .container {
    width: 1170px; } }
@media (min-width: 1360px) {
  .container {
    width: 1320px; } }
.content-page {
  position: relative; }

#logo {
  position: absolute;
  top: 40px;
  z-index: 9999;
  width: 100%;
  margin: 0 auto;
  margin-left: 0; }
  #logo a {
    display: block;
    padding: 0 20px;
    max-width: 330px;
    margin: 0 auto; }
    #logo a img {
      width: 80%; }
  @media (min-width: 790px) {
    #logo {
      margin-left: 80px;
      width: auto; }
      #logo a {
        margin: 0; }
        #logo a img {
          width: 100%; } }

#slider-home .slide-message {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 40%;
  padding-right: 100px;
  width: 80%;
  right: 0; }
  #slider-home .slide-message p {
    color: #f8e9e9;
    font-size: 20px;
    margin: 0;
    text-shadow: 0px 0px 5px #ababab; }
  @media (min-width: 790px) {
    #slider-home .slide-message {
      width: 50%;
      padding-right: 15%; }
      #slider-home .slide-message p {
        font-size: 35px; } }

#marca-peru {
  position: absolute;
  bottom: 0;
  right: 0; }
  #marca-peru img {
    margin-bottom: 25px;
    margin-right: 60px; }
    @media (min-width: 790px) {
      #marca-peru img {
        margin-bottom: 45px;
        margin-right: 80px; } }

#franja-roja {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: right;
  height: 200px;
  position: absolute;
  bottom: -30px;
  right: 0;
  left: 0; }

.box {
  height: 160px;
  margin: 2.5px -12.5px; }
  .box:hover {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .box a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative; }
  .box.box-nosotros {
    background-color: #8bbc3a; }
    .box.box-nosotros:hover {
      background-color: #4e7906; }
  .box.box-economia {
    background-color: #fbbc34; }
    .box.box-economia:hover {
      background-color: #ee9509; }
  .box.box-politica {
    background-color: #006ba7; }
    .box.box-politica:hover {
      background-color: #0b4769; }
  .box.box-lineamiento {
    background-color: #812864; }
    .box.box-lineamiento:hover {
      background-color: #680448; }
  .box.box-modelo {
    background-color: #c61f1f; }
    .box.box-modelo:hover {
      background-color: #860101; }
  .box .box-content {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%; }
    .box .box-content h2 {
      color: #fff;
      font-size: 20px;
      font-weight: normal;
      text-transform: uppercase; }
    .box .box-content img {
      margin-bottom: 18px;
      max-width: 100%; }

section#home {
  height: auto;
  background-color: #ebebeb;
  padding: 17.5px 0; }
  @media (min-width: 1010px) {
    section#home {
      height: 200px;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute; } }

@media (min-width: 790px) {
  #footer .content-footer {
    padding: 30px 0; } }
#footer .logo-footer {
  padding-left: 50px; }
#footer .box-footer {
  margin: 30px 0; }
#footer .title-footer {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  background-color: #ed464d;
  font-size: 20px;
  padding: 0px 14px; }
#footer .wrap-footer {
  padding-top: 14px; }
  #footer .wrap-footer .wrap-content-footer, #footer .wrap-footer a {
    color: #a9a9ab;
    font-size: 14px; }
  #footer .wrap-footer a:hover {
    text-decoration: underline; }
#footer ul.social-list {
  display: table;
  width: 100%; }
  #footer ul.social-list li {
    float: left;
    margin: 0 10px; }
    #footer ul.social-list li:first-child {
      margin-left: 0; }
    #footer ul.social-list li a {
      display: block;
      height: 26px;
      font-size: 26px;
      line-height: 26px;
      background-repeat: no-repeat;
      background-position: top center; }
      #footer ul.social-list li a:hover {
        opacity: 0.8; }

#language {
  position: absolute;
  top: 0;
  right: 5%; }
  #language .languages ul {
    background-color: #ed1d24;
    display: table;
    padding: 0 25px; }
    #language .languages ul li {
      float: left;
      padding: 10px 5px; }
      #language .languages ul li a {
        color: #fff; }
        #language .languages ul li a:hover {
          opacity: 0.8; }
      #language .languages ul li span {
        color: #eb9194; }
      #language .languages ul li a, #language .languages ul li span {
        font-size: 12px;
        display: block; }
  @media (min-width: 768px) {
    #language {
      right: 15%; }
      #language .languages ul li a, #language .languages ul li span {
        font-size: 15px; } }

#header {
  background-color: #ebeced;
  -webkit-box-shadow: 0 -2px 14px #000;
  -moz-box-shadow: 0 -2px 14px #000;
  box-shadow: 0 -2px 14px #000; }

.navbar-main {
  min-height: 142px;
  background-color: transparent; }
  .navbar-main .navbar {
    border: medium none;
    padding: 40px 0;
    margin-bottom: 0; }
    .navbar-main .navbar .navbar-header a {
      position: relative;
      padding: 0;
      margin: 0; }
      .navbar-main .navbar .navbar-header a img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 200px; }
        @media (min-width: 768px) {
          .navbar-main .navbar .navbar-header a img {
            left: -20px;
            width: 160px; } }
        @media (min-width: 992px) {
          .navbar-main .navbar .navbar-header a img {
            width: 200px;
            left: 0; } }
        @media (min-width: 1210px) {
          .navbar-main .navbar .navbar-header a img {
            width: auto;
            bottom: auto; } }
    .navbar-main .navbar .navbar-nav {
      margin-right: 0; }
      .navbar-main .navbar .navbar-nav li {
        padding: 0; }
        @media (min-width: 992px) {
          .navbar-main .navbar .navbar-nav li {
            padding: 0 7.5px; } }
        @media (min-width: 1210px) {
          .navbar-main .navbar .navbar-nav li {
            padding: 0 15px; } }
        .navbar-main .navbar .navbar-nav li a {
          color: #4f4f4f;
          background-color: transparent;
          border-bottom: 4px solid transparent;
          font-family: Arial;
          font-size: 13px;
          height: 80px;
          padding: 12px 0;
          position: relative;
          width: 100%; }
          @media (min-width: 768px) {
            .navbar-main .navbar .navbar-nav li a {
              width: 88px;
              font-size: 10px; } }
          @media (min-width: 992px) {
            .navbar-main .navbar .navbar-nav li a {
              width: 95px;
              font-size: 12px; } }
          @media (min-width: 1210px) {
            .navbar-main .navbar .navbar-nav li a {
              width: 120px; } }
          .navbar-main .navbar .navbar-nav li a span {
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            display: block;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%; }
          .navbar-main .navbar .navbar-nav li a.inicio.active, .navbar-main .navbar .navbar-nav li a.inicio:hover, .navbar-main .navbar .navbar-nav li a.inicio:focus {
            border-color: #4f4f4f; }
          .navbar-main .navbar .navbar-nav li a.nosotros.active, .navbar-main .navbar .navbar-nav li a.nosotros:hover, .navbar-main .navbar .navbar-nav li a.nosotros:focus {
            color: #8bbc3a;
            border-color: #8bbc3a; }
          .navbar-main .navbar .navbar-nav li a.economia.active, .navbar-main .navbar .navbar-nav li a.economia:hover, .navbar-main .navbar .navbar-nav li a.economia:focus {
            color: #fbbc34;
            border-color: #fbbc34; }
          .navbar-main .navbar .navbar-nav li a.politica.active, .navbar-main .navbar .navbar-nav li a.politica:hover, .navbar-main .navbar .navbar-nav li a.politica:focus {
            color: #006ba7;
            border-color: #006ba7; }
          .navbar-main .navbar .navbar-nav li a.lineamiento.active, .navbar-main .navbar .navbar-nav li a.lineamiento:hover, .navbar-main .navbar .navbar-nav li a.lineamiento:focus {
            color: #812864;
            border-color: #812864; }
          .navbar-main .navbar .navbar-nav li a.modelo.active, .navbar-main .navbar .navbar-nav li a.modelo:hover, .navbar-main .navbar .navbar-nav li a.modelo:focus {
            color: #c61f1f;
            border-color: #c61f1f; }
    .navbar-main .navbar.navbar-default {
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

#page {
  padding: 30px 0 60px; }

#sidebar, #wrap-page {
  margin: 10px 0; }

.box-sidebar .top-sidebar {
  padding: 25px 15px; }
  .box-sidebar .top-sidebar h3 {
    padding: 0 10px;
    font-size: 25px; }
    .box-sidebar .top-sidebar h3 span {
      color: #ffffff; }
.box-sidebar .body-sidebar {
  padding: 18px 25px;
  background-color: #fff; }
  .box-sidebar .body-sidebar ul.list-categories li {
    background-color: #fff;
    display: block;
    width: 100%; }
    .box-sidebar .body-sidebar ul.list-categories li a {
      color: #696969;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 16px;
      display: block;
      padding: 15px 18px; }
      .box-sidebar .body-sidebar ul.list-categories li a:hover, .box-sidebar .body-sidebar ul.list-categories li a:focus {
        text-decoration: none; }
      .box-sidebar .body-sidebar ul.list-categories li a .fa {
        float: right;
        font-size: 16px;
        line-height: 16px;
        display: none; }
    .box-sidebar .body-sidebar ul.list-categories li:hover, .box-sidebar .body-sidebar ul.list-categories li.active {
      background-color: #efefef; }
    .box-sidebar .body-sidebar ul.list-categories li.active a .fa {
      display: block; }
.box-sidebar .foot-sidebar {
  margin-top: 10px;
  background-color: #fff;
  padding: 20px; }
  .box-sidebar .foot-sidebar h4 {
    color: #696969;
    font-size: 16px; }

.introduction {
  padding-right: 30px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #fff; }
  .introduction .bg-introduccion {
    background-image: none;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
    padding: 35px 20px 25px 50px; }
    @media (min-width: 992px) {
      .introduction .bg-introduccion {
        background-image: url("../img/border-introduction.png");
        padding: 35px 95px 25px 50px; } }
  .introduction figure.intro-img {
    margin-bottom: 30px; }
  .introduction h2 {
    font-size: 37px;
    color: #fff;
    margin-bottom: 10px; }
  .introduction h3 {
    color: #fff2df;
    font-size: 25px;
    margin-bottom: 10px; }
  .introduction ul {
    margin: 0 0 10px; }
    .introduction ul li {
      list-style: initial; }

.panel {
  border: 0 solid; }
  .panel .panel-body {
    font-family: Arial, sans-serif;
    padding: 20px 40px;
    font-size: 15px; }
    .panel .panel-body p, .panel .panel-body figcaption {
      color: #505050; }
    .panel .panel-body ul {
      padding-left: 14px;
      margin: 0 0 10px; }
      .panel .panel-body ul li {
        list-style: initial;
        padding-left: 30px; }
      .panel .panel-body ul ul li {
        list-style-type: circle;
        padding-left: 10px; }
    .panel .panel-body figure {
      margin-top: 30px; }
      .panel .panel-body figure img {
        display: block;
        max-width: 100%;
        margin: 0 auto; }
      .panel .panel-body figure figcaption {
        margin: 20px 0; }
    .panel .panel-body .title-img {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      color: #000;
      margin-bottom: 10px; }
      .panel .panel-body .title-img .sub-title {
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; }
    .panel .panel-body .footer-img {
      margin: 20px 0; }

.table.center-align > tbody > tr > td {
  text-align: center;
  vertical-align: middle; }
  .table.center-align > tbody > tr > td:first-child, .table.center-align > tbody > tr > td:first-child + td + td {
    text-align: left; }
.table.center-align > thead > tr > th {
  text-align: center;
  vertical-align: middle; }

.panel-default > .panel-heading {
  padding: 0;
  background-color: transparent;
  background-image: none; }
  .panel-default > .panel-heading a {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    padding: 15px 40px;
    text-decoration: none; }
    .panel-default > .panel-heading a .fa {
      float: right; }
    .panel-default > .panel-heading a.collapsed .fa.fa-angle-up:before {
      content: "\f107"; }

.panel-group .panel + .panel {
  margin-top: 12px; }

.bg #footer {
  background-color: rgba(0, 0, 0, 0.6); }

.bg-economia .box-sidebar .top-sidebar {
  background-color: #f5ad47; }
  .bg-economia .box-sidebar .top-sidebar h3 {
    color: #fecf8b; }
.bg-economia .box-sidebar .body-sidebar ul.list-categories li:hover a, .bg-economia .box-sidebar .body-sidebar ul.list-categories li.active a {
  color: #f5ad47; }
.bg-economia .introduction {
  background-color: #f4bb3c; }
.bg-economia .panel-default > .panel-heading {
  background-color: #f5ad47; }

.bg-lineamiento .box-sidebar .top-sidebar {
  background-color: #812864; }
  .bg-lineamiento .box-sidebar .top-sidebar h3 {
    color: #d172b2; }
.bg-lineamiento .box-sidebar .body-sidebar ul.list-categories li:hover a, .bg-lineamiento .box-sidebar .body-sidebar ul.list-categories li.active a {
  color: #812864; }
.bg-lineamiento .introduction {
  background-color: #812864; }
.bg-lineamiento .panel-default > .panel-heading {
  background-color: #812864; }

/*# sourceMappingURL=style.css.map */
